@font-face {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    src: url(/fonts/Roboto-Black.ttf);
    src: url(/fonts/Roboto-Bold.ttf);
    src: url(/fonts/Roboto-Italic.ttf);
    src: url(/fonts/Roboto-Light.ttf);
    src: url(/fonts/Roboto-Thin.ttf);
    src: url(/fonts/Roboto-Regular.ttf);
}

$Black: 900;
$Bold: 700;
$Regular: 400;
$RegularItalic: 400 italic;
$Light: 300;
$Thin: 100;

@mixin title {
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: $Black;
    color: white;
    text-wrap: nowrap;
}

@mixin header {
    font-family: "Roboto";
    font-size: .75rem;
    font-weight: $Black;
    color: white;
}

@mixin countertype {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: $Light;
    color: white;
}

@mixin tagline {
    font-family: "Roboto";
    font-size: 11rem;
    font-weight: $Black;
}
