@use '../styles/partials/variables-fonts' as *;
@use '../styles/partials/pop-up' as *;
@use '../styles/partials/animation' as *;

* {
    margin: 0;
    padding: 0;
}

h1 {
    @include title;
    padding: 0 0 0 .75rem;
}

body {
    background-image: url(../assets/hero-background.gif);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.mt {
    @include header;
    width: 600px;
    position: absolute;
    padding: 1rem 10rem 1rem 3rem;
    background-image: linear-gradient(90deg, #ffffff71, #27262600);
    border-radius: 2rem;
    box-sizing: border-box;
    left: 1%;
    top: 32%;
    overflow: hidden;

    &__line {
        display: flex;
        align-items: baseline;
        background-color: rgba(0, 0, 0, 0.5);          
        padding: .5rem 1rem;
        width: 415px;
        border-top: 1px solid red;
    }

    &__static {
        margin-bottom: .5rem;
        width: 600px;
    }

    &__number {
        width: 20px;
        padding-right: 2rem;
        font-weight: $Black;
    }

    &__team {
        padding-right: 6rem;
    }

    &__medal {
        margin-right: 2rem;

        &--no-margin {
            margin-right: 0;
        }
    }

    &__dynamic-line {
        @include countertype;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);          
        padding: .5rem 1rem;
        margin-bottom: .5rem;
        width: 415px;
    }

    &__flag {
        padding-right: .5rem;
        height: 25px;
        width: 45px;
    }

    &__dynamic-team {
        width: 33px;
        margin-right: 4.3rem;
    }

    &__dynamic-numbers {
        width: 22px;
        padding-right: 2.35rem;
        text-align: center;

        &--black {
            font-weight: $Black;
            padding-right: 0;
        }
    }
    
}

.tagline {
    @include tagline;
    letter-spacing: -5px;
    position: fixed;
    top: 9.5rem;
    left: -0.15em;
    background-image: linear-gradient(90deg,#272626e0, rgb(198, 198, 198));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-wrap: nowrap;
    z-index: 0;
}