@use '../styles/partials/variables-fonts'as *;
@use '../styles/partials/pop-up'as *;
@use '../styles/partials/animation'as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "arial black";

}

h1 {
    @include title;
    padding: 0 0 0 1rem;
}

body {
    background-image: url(../assets/hero-background.gif);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: flex;
    height: 100vh;
}

.mt {
    @include header;
    margin: 0 auto;

    &__line {
        align-items: baseline;
        background: linear-gradient(90deg,
                #272626ce, #272626, rgba(198, 198, 198, 0.053)) 
    }

    &__line-container {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        width: 75%;
    }

    &__line-container-2 {
        display: flex;
        justify-content: space-between;
        padding: 1.5em;
        width: 100%;
    }

    &__static {
        margin-bottom: .5rem;
    }

    &__number {
        padding-right: 3rem;
        font-weight: $Black;
    }

    &__number-1 {
        padding-right: 2.5rem;
        font-weight: $Black;
    }

    &__medal-container {
        display: flex;
        width: 45%;
        justify-content: space-between;
    }
    
    &__team {
        font-size: 1.4em;
        padding-left: 0;
        padding-right: 3.5em;
    }

    &__medal {
        width: 1.5em;

        &--no-margin {
            margin-right: 0;
        }
    }

    &__dynamic-line {
        @include countertype;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: .5rem 1rem;
        margin-bottom: .5rem;
    }

    &__flag {
        padding-right: .5rem;
    }

    &__dynamic-team {
        width: 33px;
        margin-right: 4.9rem;
    }

    &__dynamic-numbers {
        width: 22px;
        padding-right: 2.35rem;

        &--black {
            font-weight: $Black;
            padding-right: 0;
        }
    }

}


// ======================K-styles================




a {
    text-decoration: none;
}

.container {
    background-image: url(../images/test.gif);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow: none;
}


.tagline {
    font-size: 8rem;
    background: linear-gradient(90deg,
            #272626e0, rgb(198, 198, 198));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;

    letter-spacing: 2px;
    position: absolute;
    top: 1em;
    left: -0.15em;
}

.updates {
    display: flex;
    width: 50%;

    position: absolute;
    left: 0;
    bottom: 0;
    overflow: none;


    .updates__news {
        background: linear-gradient(90deg, #F8F8F8, #f8f8f800);
        display: flex;
        width: 45%;
        min-width: 600px;
        padding: 0 1em;
        position: absolute;
        bottom: 0;
    }

    .updates__news-container {
        background: linear-gradient(90deg, #F8F8F8, rgba(255, 239, 239, 0));
        width: 100%;
        height: 100%;
        padding: 1em 0 1em;
        margin-left: 3em;
    }

    &__heading-container {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 0.5em;
        ;
        border-bottom: 1px solid red;
        padding-bottom: 0.4em;
    }

    &__dot {
        background-color: #F39EB5;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }

    &__heading {
        color: black;
        font-size: 1.3rem;
        letter-spacing: 2px;
    }


    .updates__medals {
        background: linear-gradient(135deg, #0d282a, #137177, #1CA99F, #f8f8f800);
        display: flex;
        width: 48%;
        min-width: 460px;

        padding: 0 0 2em;
    }


}